body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1485px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1485px;
  height:668px;
}
#u2900 {
  position:absolute;
  left:0px;
  top:0px;
  width:1485px;
  height:668px;
}
#u2901 {
  position:absolute;
  left:2px;
  top:326px;
  width:1481px;
  visibility:hidden;
  word-wrap:break-word;
}
