body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1851px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1851px;
  height:1208px;
}
#u2892 {
  position:absolute;
  left:0px;
  top:0px;
  width:1851px;
  height:1208px;
}
#u2893 {
  position:absolute;
  left:2px;
  top:596px;
  width:1847px;
  visibility:hidden;
  word-wrap:break-word;
}
