body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1196px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:866px;
}
#u2898 {
  position:absolute;
  left:25px;
  top:12px;
  width:1171px;
  height:866px;
}
#u2899 {
  position:absolute;
  left:2px;
  top:425px;
  width:1167px;
  visibility:hidden;
  word-wrap:break-word;
}
